body {
    height: 100vh;
    background: linear-gradient(135deg, #007BFF, #ffffff);
}

.main {
    // border: 1px solid red;
    position: absolute;
    padding: 20px;
    width: 300px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 20px 5px rgb(122, 121, 121);
    background-color: white;

    .main__titulo {
        // border: 1px solid green;
        display: flex;
        padding: 5px;
        align-items: center;
        .fa-playstation {
            // border: 1px solid red;
            color: #0874d2;
            font-size: 30px;
        }
        .main__titulo-principal {
            // border: 1px solid green;
            padding-left: 30px;
        }
    }

    .main__total {
        // border: 1px solid blue;

        .main__contenido {
            // border: 4px solid green;

            .main__contenido-superior {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid black;
                align-items: center;
                padding: 10px 0;
                .fa-plus {
                    // border: 1px solid red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    background-color: #0874d2;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                }
                
            }

            .main__contenido-inferior {
            //  border: 1px solid red;   
            }

        }
    }
}