h1 {
    font-family: $fuente-principal;
    font-weight: 600;
}

h2 {
    font-family: $fuente-principal;
    font-weight: 500;
    font-size: 25px;
}

p {
    font-family: $fuente-principal;
    font-size: 13px;
}